*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

body{
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: black;
    background: rgb(255, 255, 255);
    width: 100%;

}

.container{
    padding: 0 20px 0 20px;
}



.details{
    font-weight: 300;
    font-size: 12.3px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px 0 0 0 ;
    
    
    
}

.subject{
    justify-items: left;
}

.type{
    margin: 0 0 0 auto;
}

.heading h1{
    font-weight: 900;
    font-size: 36.6px;
    margin-top: 40px;
    margin-bottom: 6px;
}

.author{
    margin: 0;
    font-weight: 500;
    font-size: 13.3px;
    opacity: .5;
}

.summary-point p{
    font-size: 18.3px;
    line-height: 150%;
}

.summary-point .seperator{
    margin: 0;
    padding: 0;
    opacity: .1;
    
    border-top: .1px solid;
    
}

.summary-point h2{
    margin-top: 37px;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 27.45px;
}

.summary-point p{
    margin-top: 18px;    
}

.reference{
    background: #FFFFEB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 30px 24px;    
    font-style: italic;
    font-weight: normal;
    font-size: 18.3px;
    line-height: 150%;
    margin-bottom: 30px;

}

.ref-details p{
    font-size: 12.5px;
}

.reference p{
    margin: 0;
}

.reference .seperator{
    margin: 28px 0 13px 0;
}

.ref-details{
    display: grid;
    grid-template-columns: 70% 30%;
    

}

.ref-details .small-two{
    margin: 0 0 0 auto;
}

.reference-img img{
    width: 100%;
    margin: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.reference-img p{
    text-align: right;
    margin: 0 0 33px 0;
    font-style: italic;
    font-size: 13.725px;
    opacity: .5;
}

.copyright p{
    text-align: center;
    margin: 0px;
    padding: 18px;
    opacity: .8;
    background: #e9e9e9;
    font-size: 12.2px;
    line-height: 150%;
}
















.main-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, #000000 0%, #3d3d3d 100%);
    

    /* display: grid; */
    padding: 0 30px;
    position: fixed;

    /* grid-template-rows: 20% 30% 30%;
    
    grid-template-areas: 
    "." "name" "heading"; */


}

.main-page p{
    grid-area: name;
    color: white;
    font-weight: lighter;
    opacity: 0.8;
    font-size: small;
    margin-top: 30vh;
}

.main-page h1{

    justify-self: center;
    color: white;
    /* text-shadow:0px 5px 3px rgba(0, 0, 0, 0.5); */
    grid-area: heading;
    font-size: 30px;
    margin-top: 1vh;

}

.main-page .contents {
    display: block;
    margin-top: 2.3vh ;
    text-align: center;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    background: white;
    letter-spacing: 1px;
    
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;

}

.main-page .more{


    text-align: center;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    letter-spacing: 2px;
    
    border-radius: 6px;
    
    border: 3px solid white;
    font-size: 14px;
    font-weight: 300;
}




.read{
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 12vh;
    padding-left: 2px;
    opacity: .8;
    font-size: small;
    font-weight: 350;
}



li{
    margin-bottom: 10px;
    
}