*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

body{
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: black;
    background: rgb(255, 255, 255);
    width: 100%;

}

.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}



.details{
    font-weight: 400;
    opacity: 80%;
    font-size: 12.3px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px 0 0 0 ;
}

.subject{
    justify-items: left;
}

.type{
    margin: 0 0 0 auto;
}

.heading h1{
    font-weight: 900;
    font-size: 36.6px;
    margin-top: 40px;
    margin-bottom: 6px;
}

.author{
    margin: 0;
    font-weight: 500;
    font-size: 13.3px;
    opacity: .5;
}

.summary-point{
   margin: 10vh 0;
}

.summary-point p{
    font-size: 18.3px;
    line-height: 150%;
}



.summary-point .seperator{
    margin: 0;
    padding: 0;
    opacity: .1;
    
    border-top: .1px solid;
    
}

.summary-point h2{
    padding-top: 37px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 27.45px;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%);
    margin: 0 0 0 -5px;
    
    z-index: 50;
}


.sub-point{
    margin-bottom: 7vh;
}

.summary-point p{
    margin-top: 18px;    
}



.sub-points-container{
    width: 95%;
    margin-left: auto;

    
}





.reference{
    background: #ffffdc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 30px 24px 20px 24px;    
    font-style: italic;
    font-weight: normal;
    font-size: 18.3px;
    line-height: 150%;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 7vh;

}

.ref-details p{
    font-size: 12.5px;
}

.reference .ref-details p{
    margin: 0;
}

.reference .seperator{
    margin: 28px 0 13px 0;
}

.ref-details{
    display: grid;
    grid-template-columns: 70% 30%;
    

}

.ref-details .small-two{
    margin: 0 0 0 auto;
    text-align: right;
}

.two-images .second img{
    margin-top: 7vh;
}


.reference-img img{
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: block;

}

.reference-img .reference-img-info p{

    text-align: right;
    margin: 0 0 33px 0;
    font-style: italic;
    font-size: 13.725px;
    opacity: .5;
    display: block;
    text-align: right;
    width: 90%;
    margin: 10px auto;
}


.copyright{
    width: 100%;
    background: rgb(235, 235, 235);
}

.copyright p{
    text-align: center;
    margin: 0px;
    padding: 18px;
    opacity: .8;
    
    font-size: 12.2px;
    line-height: 150%;
}


.share{

    margin: 7vh auto;



}

.share-button{
    width: 100%;
    
    margin: 0 auto;
    
    
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin-top: 10px;
}

.wa{
    background-color: #17b852;
}

.fb{
    background-color: #3b5998;
}

.share-button a{
    color: white;
    text-decoration: none;
    padding: 2vh;
    font-weight: 500;
    font-size: .9rem;
    
}






.m-full{
    background: linear-gradient(180deg, #000000 0%, #3d3d3d 100%);
    height: 100vh;
    width: 100%;
}



.main-page{
    height: 100vh;    
    
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    place-items: center;

}



.main-page p{
    grid-area: name;
    color: rgb(230, 230, 230);
    font-weight: lighter;
    opacity: 0.8;
    font-size: small;
    
}

.main-page h1{

    justify-self: center;
    color: white;
    /* text-shadow:0px 5px 3px rgba(0, 0, 0, 0.5); */
    grid-area: heading;
    font-size: 30px;
    

}

.contents {
    display: block;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    background: white;
    letter-spacing: 1px;
    
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;

}


.more-below-article{
    background-color: rgb(80, 80, 80) !important;
    color: white !important;
    font-weight: 400 !important;
    
    margin-left: auto;
    margin-right: auto;
    
}

.more-container{
    border: 1px solid rgb(194, 194, 194);
    border-radius: 15px;
    padding: 15px;
}

.more{


    text-align: center;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    letter-spacing: 2px;
    
    border-radius: 6px;
    
    border: 3px solid white;
    font-size: 14px;
    font-weight: 300;
    
}




.read{
    color: rgb(255, 255, 255);
    display: block;
    
    padding-left: 2px;
    opacity: .8;
    font-size: small;
    font-weight: 350;
    margin-top: 100px;
}

.reference-sentence{
    font-style: italic;    
    display: block;
    margin: 20px 0;
}


li{
    margin-bottom: 10px;
    
}


@media (max-width: 420px){

    .container .heading h1{
        margin-top: 15px;
    } 


    .summary-point h2{
        padding-top: 25px;
        padding-bottom: 0;
        top: 0px;
    }

    /* .summary-point h3{
        margin-top: 10vh;    
    } */

    .sub-points-container{
        padding-left: 20px;
        width: 100%;
        border-left: 1px solid rgb(240, 240, 240);
    }

    .summary-point p{
        font-size: 15.5px;
        line-height: 150%;
    }

    .reference{
        background: #ffffdc;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        padding: 15px 12px 10px 12px;    
   
        line-height: 150%;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 4vh;
    
    }

    .reference p{
        font-style: italic;
        font-weight: normal;
        font-size: 15px;
    }
   


    li{
        font-size: 15px;     
    }

    .sub-point h3{
        font-size: 20px;
        font-weight: 600;
    }

    
    

    
}



@media (max-width: 600px){
    .sub-points-container{
        width: 100%;
        margin-left: auto;    
        padding-left: 0;
        width: 100%;
        border: none;

    }
}
